{% extends "base.html"%}
{% load static %}

{% block css %}
  {{ block.super }}  
    <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet">  
{% endblock %}

{% block content %}
	<div class="container-formulario">
        <div class="formulario">
            <form method="POST" enctype="multipart/form-data" class="formu">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type='submit'>ENVIAR</button>
            </form>
        </div>
    </div>
{% endblock content %}