{%extends "base.html"%}
{% load static %}
{% block css %}
  {{ block.super }}  
	<!-- <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet">  -->
{% endblock %}
{% block content %}
	<div class="container">
		{% for object in object_list %}
			<hr>
			<div class="card" style="width: 25rem;">
				<div class="card-body">
					<h4 class="card-title">{{object.titulo_post}}</h4>
					<h6>----- {{ object.categoria_verbose }}{% if not forloop.last %},{% endif %} -----</h6>
					<h5>Autor: {{object.author}} - {{object.fecha_hora}} </h5>
					<p class="card-text">{{object.contenido}}</p>
					<a href="{% url 'usuarios:detail' object.id_post %} " class="btn btn-primary">VER POST</a>
				</div>
			</div>
			<hr>	
		{% endfor %}
	</div>
{% endblock %}
	