{% extends "base.html" %}
{% load static %}
{% block header %}

{% endblock header %}
{% block contenido %}
<form class="form-label" method="POST"> {% csrf_token %}
    {% include "includes/form_errors.html" %}
    {{form.as_p}}
    <div class="row">
        <div class="col">
            <a href="{% url 'inicio' %}" class="btn btn-danger" style="padding:5px;">Cancelar</button>
            <button type="submit" class="btn btn-primary" style="padding:5px;">Guardar</button>
        </div>
    </div>
</form>



{% endblock contenido %}