{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="5" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="6" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="7" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="8" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="9" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="10" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="11" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="12" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="13" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="14" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="15" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="16" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/MZtwZAe.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>1: Fin de la pobreza</h1>
          <p>Poner fin a la pobreza en todas sus formas en todo el mundo</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/poverty/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/jRFVU4I.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>2: Hambre Cero</h1>
          <p>Poner fin al hambre</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/hunger/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/ofpiako.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>3: Salud y Bienestar</h1>
          <p>Garantizar una vida sana y promover el bienestar para todos en todas las edades</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/health/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/gzJE53E.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>4: Educacion de Calidad</h1>
          <p>Poner fin al hambre</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/education/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/MXgI74y.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>5: Igualad de Genero</h1>
          <p>Lograr la igualdad entre los géneros y empoderar a todas las mujeres y las niñas</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/gender-equality/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/aDx0Leg.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>6: Agua limpia y Saneamiento</h1>
          <p>Garantizar la disponibilidad de agua y su gestión sostenible y el saneamiento para todos</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/water-and-sanitation/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/ubh7RcL.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>7: Energia Asequible y No Contaminante</h1>
          <p>Garantizar el acceso a una energía asequible, segura, sostenible y moderna</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/energy/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/ndhUtxK.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>8: Trabajo Decente y Crecimiento Economico</h1>
          <p>Promover el crecimiento económico inclusivo y sostenible, el empleo y el trabajo decente para todos</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/economic-growth/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/3Ia0sXS.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>9: Industria, Innovacion e Infrainstructura</h1>
          <p>Construir infraestructuras resilientes, promover la industrialización sostenible y fomentar la innovación
          </p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/infrastructure/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/hkZM0MI.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>10: Reducción de las Desigualdades</h1>
          <p>Reducir la desigualdad en y entre los países</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/inequality/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/l1YGUwG.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>11: Ciudades y Comunidades Sostenibles</h1>
          <p>Lograr que las ciudades sean más inclusivas, seguras, resilientes y sostenibles</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/cities/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/pxML9hz.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>12: Producción y Consumo Responsable</h1>
          <p>Garantizar modalidades de consumo y producción sostenibles</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/010g4fu.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>13: Acción por el Clima</h1>
          <p>Adoptar medidas urgentes para combatir el cambio climático y sus efectos</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/climate-change-2/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/5nVFSxt.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>14: Vida Submarina</h1>
          <p>Conservar y utilizar sosteniblemente los océanos, los mares y los recursos marinos</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/oceans/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/WONBRQa.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>15: Vida de Ecosistemas terrestres</h1>
          <p>Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación
            de las tierras, detener la pérdida de biodiversidad</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/biodiversity/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/0ZoKp8G.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>16: Paz, Justicia e Instituciones Solidas</h1>
          <p>Promover sociedades justas, pacíficas e inclusivas</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/peace-justice/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/3ARK7H5.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>17: Alianzas para Lograr Objetivos</h1>
          <p>Revitalizar la Alianza Mundial para el Desarrollo Sostenible</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.un.org/sustainabledevelopment/es/globalpartnerships/" Target="_blank" role="button">Leer más</a></p>
        </div>
      </div>
    </div>
  </div>


  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container marketing">

  <hr class="featurette-divider">

  
    </main>
    <script src="{% static 'js/inicio.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock contenido %}