{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block menu %}


{% endblock menu %} 


{% block content %}
	<h1>Ingresa tus datos</h1>
	<form method="POST" action="{% url 'usuarios:registrarme' %}">{% csrf_token %}
		{% include "includes/form_errors.html" %}
		
		{% include "includes/forms.html" %}

		<div class="row" style="padding:20px;">
			<div class="col">
				<button type="submit" class="btn btn-success">Registrarme</button>
				<a href="{% url 'inicio' %}" class="btn btn-danger">Cancelar</a>
			</div>
		</div>
	</form>
{% endblock %}