
*{
	padding: 0;
	margin: 0;
	background: none;
}

.container-formulario{
	width: 100%;
	background-color: red;
}

.formulario{
	width: 1000px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.formu{
	background: red;
}